body{
	background-color: hsla(0, 2%, 74%, 0.795);
	overflow: hidden;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 25%);
}

.box{
	width: 400px;
	border-radius: 8px;
	padding: 10px;
}

.img_back{
	width: 300px;
	height: 300px;
	border: solid black;
	margin-left: 50px;
}

.bg-dark{
	background-color: #7786c7!important;
}

#cart-icon{
	width:40px;
	display: inline-block;
	margin-left:25px;
}

#login-icon{
	width:40px;
	margin-left:25px;
}

#title-icon{
	width: 120px;
	height: 120px;
	margin-left: 5px;
	margin-right: 0px;
}

.column{
	margin-top: 20px;
	padding: 15px;
}

.row{
	margin-left: 15px;
}

#hydraulik{
	width: 70%;
	float: right;
	border-left: rgb(211, 116, 7) double;
}

.main-text{
	text-align: center;
	padding: 15px;
	width: 30%;
	position: fixed;
}
