{% extends 'warehouse/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        {% for product in products %}
        <div class="column">
            <img class="img_back" src="{{product.imgURL}}">
            <div class="box product">
                <h6 style="text-align: center"><strong>{{product.name}}</strong></h6>
                <hr>
                <h6>Ilość: {{product.amount}}</h6>
                <h6 id="procucent">Producent: {{product.producer}}</h6>
                <button class="button-back">Dodaj do zamówienia</button>
                <h4 style="display: inline-block; float: right">
                {{product.price|floatformat:2}} PLN
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}